* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    width: 30%;
    height: 50%;
}

button {
    width: 100%;
    padding: 25px 0;
    font-size: 24px;
    border: none;
    outline: none;
    background-color: #6495ed;
    margin-bottom: 20px;
    border-radius: 8px;
    color: #cfe6f8;
}

button:hover {
    background-color: #4c84ee;
    cursor: pointer;
}