*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main{
    background-color: antiquewhite;
    margin: 0 auto;
    padding: 60px;
    border-radius: 10px;
    height: 100vh;
}

.dark .main{
    background-color: darkblue;
    color: antiquewhite;
}

.change_mode{
    position: fixed;
    top: 10px;
    right: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: darkblue;
    border: none;
    cursor: pointer;
}
.dark .change_mode{
    background-color: antiquewhite;
}